@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --primary: 199 89% 48%;
    --primary-foreground: 0 0% 100%;
    --primary-soft: 204 94% 94%;
    --primary-border: 199 95% 74%;
    --primary-dark: 201 96% 32%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --border: 214 32% 91%;

    --success: 142 71% 45%;
    --warning: 38 92% 50%;
    --danger: 0 84% 60%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;

    --primary: 199 89% 58%;
    --primary-foreground: 222 47% 11%;
    --primary-soft: 217 33% 17%;
    --primary-border: 199 95% 40%;
    --primary-dark: 199 89% 65%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --border: 217 33% 20%;

    --success: 142 70% 45%;
    --warning: 38 92% 50%;
    --danger: 0 72% 51%;
  }
}
